body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  width: 550px;
}
ul li {
  padding:5px;
  background-color: burlywood;
  list-style: none;
  margin-bottom: 5px;
  
}
ul li:last-child {
  margin-bottom: 0;
}
li.done i.fa.fa-check {
  display: inline-block;
}
li {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  cursor:pointer;
  transition: all 0.2s ease-in;
}
li:hover {
background-color: #c5a780;
}
li.done {
  background-color: cadetblue;
  display: grid;
  background-color: cadetblue;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
}
li.done:hover {
  background-color: #6cb7b9;
}
 li i.fa.fa-check{
    display: none;
}
.Todo {
padding-left: 20px;
}
.Todo ul {
  padding-left: 0;
}
form label {
  display: block;
}
span {
  display: block;
}
span.circle {
    display: inline-block;
    width:20px;
    height:20px;
    border-radius: 50%;
    cursor:pointer;
    margin-left: 10px;
}
span.circle:first-child {
  margin-left: 0;
}
span.circle.light {
  background-color: darkgrey;
}
span.circle.dark {
  background-color: darkmagenta;
}
.Todo.light ul li {
  background-color: darkgrey;
  color: #fff;
}
.Todo.light ul li.done {
  background-color:#c5a780;
  color:#000;
}
.Todo.light ul li:not(.done):hover{
  background-color: #949191
}
.Todo.dark ul li{
   background-color:darkmagenta;
   color:#fff
 }
 .Todo.dark ul li.done {
   background-color: #000;
 }
 .Todo.dark ul li:not(.done):hover{
  background-color:#460446
 }
 .theme-toggle {
  display: flex;
  align-items: center;
 }
